# Mostly copied from https://github.com/holmgr/cargo-sweep/blob/master/.github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  # This fails often and also doesn't take long to run. Put it in a separate job.
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt,clippy

      - name: restore build & cargo cache
        uses: Swatinem/rust-cache@v1

      - name: show warnings as check annotations on the PR
        # rust.json is copied from https://github.com/hecrj/setup-rust-action/blob/master/.github/rust.json
        run: echo "##[add-matcher].github/rust.json"

      - name: Format
        run: cargo fmt -- --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features --locked -- -Dwarnings

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
      - uses: dtolnay/rust-toolchain@nightly
        # with:
        #   components: miri

      - name: restore build & cargo cache
        uses: Swatinem/rust-cache@v1

      - name: show warnings as check annotations on the PR
        # rust.json is copied from https://github.com/hecrj/setup-rust-action/blob/master/.github/rust.json
        run: echo "##[add-matcher].github/rust.json"

      - name: Test
        run: cargo test
